.particles-loading {
  z-index: 20;
  background: rgba(0, 0, 0, 0.3);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
  color: var(--gray);
  font-size: 1.1em;
  font-weight: bold;
  width: 100vw;
  height: 100vh;
}
