.navigationBar {
  z-index: 20;
  background: transparent;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
  color: var(--gray);
  font-size: 1.1em;
  font-weight: bold;
  color: white;
}

ul {
  list-style: none;
}

.side-bar {
  transition: 0.3s;
  position: fixed;
  left: 0;
  top: 0;
}

.side-close {
  left: -350px;
}
