.user-profile {
  width: 180px;
  height: 180px;
}

.user-status {
  background: transparent;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
  color: var(--gray);
  font-weight: bold;
}
